@charset "UTF-8";

/* ContactのCSS */
.contact-wrapper {
  background-color: #F5F5F5;
}
.contact-form{
  font-family: Arial, Helvetica, "sans-serif";
  padding-top:5.2vw;
}
.form-title{
  padding-top: 10px;
}
input[type=text] {
  border: 1px #D5D5D5;
  border-radius: 9px;
}
input[type=email] {
  border: 1px #D5D5D5;
  border-radius: 9px;
}
#name-form {
  height: 36px;
  width: 100%;
}
#mail-form {
  height: 36px;
  width: 100%;
}
#content-form {
  height: 125px;
  width: 100%;
}
.square_btn {
    display: inline-block;
    width:40px;
    padding: 0.1em 1em;
    margin: 1em auto;
    text-decoration: none;
    color: #9E9E9E;
    border: solid 2px #9E9E9E;
    border-radius: 5px;
    transition: .4s;
}
.square_btn:hover {
    background: #9E9E9E;
    color: white;
}
